<mat-toolbar>
  <mat-icon (click)="navigateUp()" *ngIf="canNavigateUp" class="pointer">arrow_back</mat-icon>
  <span style="margin-left: 8px">{{path || 'Files'}}</span>
  <span class="spacer"></span>
  <!-- <mat-icon class="pointer" (click)="openNewFolderDialog()">create_new_folder</mat-icon>-->

  <mat-icon [matMenuTriggerFor]="menu" class="pointer" mat-button>
    <mat-icon>more_vert</mat-icon>
  </mat-icon>
  <mat-menu #menu="matMenu">
    <!--<button mat-menu-item><mat-icon class="pointer" (click)="openNewFolderDialog()">create_new_folder</mat-icon></button>-->
    <button (click)="openNewFolderDialog()" mat-menu-item>
      <mat-icon>create_new_folder</mat-icon>
      <span>Create new folder</span>
    </button>
    <button (click)="openImportNewFile()" mat-menu-item>
      <mat-icon>attach_file</mat-icon>
      <span>Import file</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
  <div class="content" fxFlex fxLayout="row">
    <mat-grid-list cols="8" fxFlex rowHeight="100px">
      <mat-grid-tile *ngFor="let element of fileElements" class=file-or-folder>
        <span #menuTrigger="matMenuTrigger" [matMenuTriggerData]="{element: element}"
              [matMenuTriggerFor]="rootMenu"></span>
        <div (click)="navigate(element)" (contextmenu)="openMenu($event, menuTrigger)" fxLayout="column"
             fxLayoutAlign="space-between center">
          <mat-icon *ngIf="element.isFolder" class="file-or-folder-icon pointer" color="primary">folder</mat-icon>
          <mat-icon *ngIf="!element.isFolder" class="file-or-folder-icon pointer" color="primary">insert_drive_file
          </mat-icon>
          <span *ngIf="element.isFolder" style="margin-left: 10px; margin-right: 10px">{{element.name}}</span>
          <span *ngIf="!element.isFolder" style="margin-left: 10px; margin-right: 10px"><a
            href="{{ element.url }}">{{ element.name }}</a></span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template let-element="element" matMenuContent>
    <button [matMenuTriggerData]="{self: element}" [matMenuTriggerFor]="moveToMenu" mat-menu-item>
      <mat-icon>open_with</mat-icon>
      <span>Move To</span>
    </button>
    <button (click)="openRenameDialog(element)" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button (click)="deleteElement(element)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <button (click)="downloadElement(element)" *ngIf="!element.isFolder" mat-menu-item>
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template let-self="self" matMenuContent>
    <ng-container *ngFor="let element of fileElements">
      <button (click)="moveElement(self, element)" *ngIf="element.isFolder && element.id !== self.id"
              mat-menu-item>{{element.name}}</button>
    </ng-container>
  </ng-template>
</mat-menu>
